/shared/pids/puma.state
/shared/log/puma.stdout.log
/shared/log/puma.stderr.log
/log
/public/avatars
/public/assets
/public/pictures
/config/database.yml
/config/application.secrets.yml
/config/puma.rb
.idea/*
/log/*
/Gemfile.lock
/shared/log
/shared/pids
/tmp/
/log/
